<ion-view view-title="Submit" name="submit-view" ng-controller="SubmitController" disable-tap>
  <ion-content class="padding">

    <div class="form-group move-down">
        <input type="text" id="Autocomplete" class="form-control" ng-autocomplete ng-model="result2" details="details2" options="options2"/>
    </div>

 <div class="list list-inset">
   <label class="item item-input">
     <input type="text" placeholder="First Name">
   </label>
   <label class="item item-input">
     <input type="text" placeholder="Last Name">
   </label>
 </div>

      <!-- <button class="button button-block button-calm" ng-click="login()">Submit</button> -->

      <rating ng-model="ratingFull.rate" max="ratingFull.max"></rating>
</br>
</br>
</br>
      <button class="button button-small button-positive">
  Small Button
</button>

  </ion-content>


</ion-view>
